.container{
    background-color: rgb(41, 50, 71);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
}

.links{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.links.active{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

